<!DOCTYPE html>
<html lang="es" ng-app="appMyEAN">

<head ng-controller="homeCtrl as vm">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple web to show phone calls logs">
    <meta name="author" content="Antonio Navarro">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{{ "App_Title" | translate }}</title>
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/ngtable/0.3.2/ng-table.min.css" rel="stylesheet">
    <link href="css/lib/flag-icons/css/flag-icon.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" role="navigation" ng-controller="MenuCtrl as vm">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li ng-repeat="o in opcionesMenu" ng-class="{ active: vm.isActive(o.path) }">
                        <a href="{{o.path}}">{{o.text | translate}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-link flag-icon flag-icon-es" ng-click="vm.changeLang('es-ES')"></span>
                    </li>
                    <li>
                        <button type="button" class="btn btn-link flag-icon flag-icon-gb" ng-click="vm.changeLang('en-EN')"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <div ng-view></div>
    </div>

    <pie></pie>
    <!-- JavaScript References -->
    <!-- Angular desde CDN -->
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-cookies.min.js"></script>


    <script src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
    <script src="http://bazalt-cms.com/assets/ng-table-export/0.1.0/ng-table-export.js"></script>
-->
    <!-- Nuestras propias referencias -->
<!--
    <script src="js/lib/angular/1.2.25/angular.min.js"></script>
    <script src="js/lib/angular/1.2.25/angular-resource.min.js"></script>
    <script src="js/lib/angular/1.2.25/angular-route.min.js"></script>
    <script src="js/lib/angular/1.2.25/angular-cookies.min.js"></script>
-->
    <script src="js/lib/angular/1.3.13/angular.min.js"></script>
    <script src="js/lib/angular/1.3.13/angular-resource.min.js"></script>
    <script src="js/lib/angular/1.3.13/angular-route.min.js"></script>
    <script src="js/lib/angular/1.3.13/angular-cookies.min.js"></script>

    <script src="js/lib/ngtable/0.3.2/ng-table.min.js"></script>
    <script src="js/lib/angular-translate/angular-translate.min.js"></script>
    <script src="js/lib/angular-translate/angular-translate-loader-partial.min.js"></script>
    <script src="js/lib/angular-translate/angular-translate-storage-cookie.min.js"></script>
    <script src="js/lib/angular-translate/angular-translate-storage-local.min.js"></script>
    <script src="js/lib/input-match/1.4.0/angular-input-match.js"></script>

    <!-- build:js js/total.min.js -->
    <script src="app.js"></script>
    <script src="_shared/routes.js"></script>
    <script src="_shared/menuFactory.js"></script>
    <script src="_shared/MenuCtrl.js"></script>
    <script src="_shared/filters.js"></script>
    <script src="_shared/directives.js"></script>
    <script src="_shared/translate/translateSrv.js"></script>
    <script src="home/loginFactory.js"></script>
    <script src="home/homeCtrl.js"></script>
    <script src="home/logoutFactory.js"></script>
    <script src="home/logoutCtrl.js"></script>
    <script src="users/usersFactory.js"></script>
    <script src="users/usersCtrl.js"></script>
    <script src="user/userFactory.js"></script>
    <script src="user/userCtrl.js"></script>
    <!-- endbuild -->


</body>